@charset "utf-8";

$black: #222222ff;
$green: #2dd32aff;

/* general styles */

$body-family: monospace, sans-serif;

$body-color: $green;
$body-background-color: $black;
$footer-color: $green;
$footer-background-color: $black;

/* navbar styles */

$navbar-background-color: $black;
$navbar-item-color: $green;
$navbar-item-hover-color: $black;
$navbar-item-hover-background-color: $green;
$navbar-burger-color: $green;

.navbar-brand {
	a.navbar-item:hover,
	a.navbar-burger:hover {
		color: $navbar-item-color;
	}
}

/* title styles */

$title-color: $green;
$subtitle-color: $green;

/* form styles */

$label-color: $green;
$input-color: $black;
$input-background-color: $green;
$input-border-color: $black;
$input-focus-color: $black;
$input-hover-color: $black;
$input-hover-border-color: $green;

/* default button styles */

$button-color: $black;
$button-background-color: $green;
$button-border-color: $black;
$button-hover-color: $black;
$button-hover-border-color: $green;

@import "../node_modules/bulma/bulma.sass";

